<head>
    <style>
        body {
            background-image: url("/Images/Instagram.jpg");
            background-repeat: no-repeat;
            background-size:cover;
        }
        h1{
            color:indigo;
            font:italic,bold;
            position:center;
        }
        footer{
            display:none;
        }
    </style>
</head>

<body>
</body>